body{
    font-family: 'montserrat', sans-serif;

}
.flex-display{
    display: flex;
    margin-bottom: 100px;
}
.orange-text{
    color: orangered;
}
.big-font{
    padding-top: 60px;
    font-size: 50px;
    font-weight: 700;
    color: rgb(92, 92, 92);
}
.half-size{
    width: 90%;
    padding-left: 2%;
    margin: auto;   
}

.order-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,red,orange);
    padding: 10px 40px;
    border-radius: 30px;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}
#bg-poster{
    background-image: url(../images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.shadow-box{
    box-shadow: 5px 5px 5px 5px  rgb(192, 192, 192);
    text-align: center;
}
.recipe-card{
    width: 35%;
    padding-top: 2%;
    margin-left: 5%;
    border-radius: 20px;
}
.card-images{
    width: 80%;
    border-radius: 5%;
}
.card-p{
    padding: 5%;
    font-weight: 300;
}
#recipe-intro{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
#stack{
    border-left: 10px solid;
    border-radius: 5px;
    border-image: linear-gradient(blue,teal);
    border-image-slice: 1;
}
#baby{
    border-left: 10px solid;
    border-radius: 5px;
    border-image: linear-gradient(indigo,brown);
    border-image-slice: 1;
}
#fresh-gray{
    color: rgb(92, 92, 92);
}
footer{
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
    color: white;
    background-color: black;
}