body{
    font-family: 'montserrat', sans-serif;
}
.flex-display{
    display: flex;
    margin-bottom: 100px;
}
.orange-text{
    color: orangered;
}
.big-font{
    padding-top: 60px;
    font-size: 50px;
    font-weight: 700;
    color: rgb(92, 92, 92);
}
H2{
    font-size: 35PX;
}
.half-size{
    width: 90%;
    padding-left: 2%;
    margin-left: 2%;   
}
p{
    text-align: justify;
    color: gray;
    margin-bottom: 50px;
    padding-right: 5%;
}
.order-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,red,orange);
    padding: 10px 40px;
    border-radius: 30px;
    color: white;
}
#bg-poster{
    background-image: url(../images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.shadow-box{
    box-shadow: 5px 5px 5px 5px  rgb(192, 192, 192);
    text-align: center;
}
.recipe-card{
    width: 35%;
    padding-top: 2%;
    margin-left: 5%;
    border-radius: 20px;
}
.card-images{
    width: 80%;
    border-radius: 5%;
}
.card-p{
    text-align: justify;
    color: gray;
    margin-bottom: 50px;
    padding: 5%;
}
#about-section{
    padding-top: 5em;
    margin: auto;

}
#recipe-intro{
    text-align: center;
}
#stack{
    border-left: 10px solid;
    border-radius: 5px;
    border-image: linear-gradient(blue,teal);
    border-image-slice: 1;
}
#baby{
    border-left: 10px solid;
    border-radius: 5px;
    border-image: linear-gradient(indigo,brown);
    border-image-slice: 1;
}
footer{
    text-align: center;
    color: gray;
}